.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 40px;
    max-height: 300px;
    margin: 10px;
}

.social{
    max-width:100%;
    display: grid;
}

.social-menu{
    display: flex;
}

.header-div {
    max-width: 100%;
    display: flex;

}

.logo-core{
    max-width: 400px;
    margin-left: 25px;
    margin-top: 20px;
}



.header-link {
    color: #fff;
    font-size: 28px;
    max-width: 100px;
    padding:20px;
    font-family: bold;

}

.links-div{
    max-width: 100%;
    margin-right: 20px;
    margin-top: 20px;
}


@media (max-width: 720px){
    .header{
        max-width:100vh
    }


}