   
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');


.main-dad{
    max-width: 100vh;
    height:100vh;
    background-color:rgb(0, 0, 0);
    display:grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    flex-direction:column;

}

.main-title{
    grid-column: 1;
    grid-row: 1;
    padding-left: 100px;
    padding-top: 5px;
    max-width:400px;
    font-family: Montserrat;
    font-size: 1.9em;
    color:white;
    margin:auto;

}

.miniurl-images{
    grid-column: 1;
    grid-row: 4;
    display:inline-flex;
    margin:auto;
    object-fit: cover;
    border:none;
    margin-left: 120px;
    min-width: 100%;
    margin-top: 60px;
}

.miniurl-images-buttton {
    background-color:#000;
    border:none;

}


.image-finish{
  max-width:750px;
  border-radius: 20px;
  margin-left: 60%;  
  margin-top: 40px;
}


.imagem-api{
    width:100%;
    border: 1px solid #000;
}

.atv{
    width:100%;
    border: 3px solid #fff;
    object-fit: cover;
}
.button-main{
    grid-column: 1;
    grid-row: 3;
    width:25vw;
    border-radius: 25px;
    height:50px;
    margin-left: 100px;
    margin-top: 110px;
}

.button-main:hover{
    background-color:rgb(165, 165, 165);
    transition:ease-in 1s;

}
.title-button{
    font-family: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    color: #000
}


.seta{
    padding-left: 5px ;
    padding-top: 1px;
}

@media (max-width: 720px){

    .mainHome{
        width:100%;
        margin: 0;
        padding:0;
    }


    .main-dad{
        width:100%;
     
        min-height: 800px;
    }

    .main-title{
        grid-column: 1;
        grid-row: 1;
        max-width:30%;
        padding: 0%;
        margin-left:20%;
        font-size: 1.2em;
    
    }


    .button-main{
        grid-row: 2;
        width:200px;
        height:50px;
        margin-left: 15%;
        margin-top: 130px;
    }
    
    .container-banner{
        max-width:100%
    }


    .banner{
        grid-column: 1;
        grid-row: 3;
        display:grid;
        justify-content: inherit;
        margin: 0px;
        height:20vh;
        margin-top:60px;
        margin-left: 21px;
        width: 310px
    }
    
    .image-finish{
        max-width: 100%;
        margin-left: 0%;  
        margin-top: 0px;
      }

    .miniurl-images{
        grid-row: 5;
        display:inline-flex;
        margin-left: 15%;
        padding-left: 0px;
        width: 310px;
    }
    
    .imagem-api{
        min-width:100%;
        
    }



    
    
 

}