.main {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  padding: 0px;
  margin: 0px;
  background-color:#000;
}

@media (max-width: 768px){
    .main{
      align-items: center;
      width: 100%
    }
}